/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
  margin: 0;
  padding:0;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}
.main{
  width:100vw;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;    
}
.logo h1{
  font-size:1.4rem;
  font-weight: 900;
  color:#007aff;
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: center;
}
.nav-list{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.nav-list li{
  list-style: none;
  padding:22px 25px;

}
.nav-list li a{
  text-decoration: none;
  color:#65789b;
  font-weight: 700;
}
.rightNav{
  margin-left: 5rem;
  text-align: center;
  padding:26px 30px;
}
.btn_buy{
  font-size:1rem;
  padding:0.5rem;
  border-radius: 8px;
  background-color:#007aff;
  color: white;
  border:none;
}
.btn_buy:hover{
  cursor: pointer;
}